.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 2vw, 2rem);
}

.counterTypeText {
    text-transform: uppercase;
    font-size: clamp(0.1rem, 1.5vw, 0.8rem);
    letter-spacing: clamp(0.1rem, 1vw, 0.4rem);
    color: var(--color-white);
    font-weight: 200;
}

.counter {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue-500);
    width: clamp(2rem, 20vw, 11rem);
    height: clamp(2rem, 20vw, 11rem);
    border-radius: clamp(0.1rem, 0.8vw, 0.4rem);
    box-shadow: 0 8px 0 0 var(--color-blue-900);
}

.counter span {
    font-size: clamp(1.4rem, 12vw, 6rem);
    font-weight: 700;
}

.clipper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--background);
}

.clipperLeft {
    clip-path: circle(clamp(0.1rem, 0.8vw, 0.5rem) at 0% 50%);
}

.clipperRight {
    clip-path: circle(clamp(0.1rem, 0.8vw, 0.5rem) at 100% 50%);
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-blue-800);
    opacity: 0.2;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}