:root {
  --background: hsl(266, 19%, 14%);
  --foreground: hsl(345, 95%, 68%);

  --color-white: hsl(0, 0%, 100%);
  --color-blue-500: hsl(235 20% 25%);
  --color-blue-600: hsl(240, 21%, 22%);
  --color-blue-800: hsl(240, 12%, 5%);
  --color-blue-900: hsl(234, 17%, 12%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-red-hat-text);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
